<div class="page container mt-3">
    <div class="form-group" id="searchBlock">
        <h4 id="lbSearch">Search</h4>
        <input class="form-control" id="searchLine" #searchLine type="text">
        <button type="button" class="btn btn-light" id="btnSearch" (click) ="find(searchLine.value)">
            <img src="assets/img/search.svg">
        </button>
    </div>
</div>


<div class="videos__block mt-3">
    <app-video *ngFor="let video of $videos | async" [video]=video></app-video>
</div>